.result {
    color: rgb(30, 169, 103);
    line-height: 2;
    font-size: xx-large;
    text-shadow: 3px 2px 9px rgb(23, 158, 95);
    border-bottom: 7px solid rgb(30, 169, 103);
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}